<div class="row">
    <div class="twelve columns anuncios">

        <table class="u-full-width">

            <tbody>
            <tr>
                <td>
                    <label for="filtro-nombre">
                        Producto
                    </label>
                    <input id="filtro-nombre"
                           type="text"
                           ng-model-options="{debounce: 500}"
                           ng-model="$ctrl.filtroAnuncios.nombre">
                </td>
                <td>
                    <label for="filtro-categoria">
                        Categoria
                    </label>
                    <select id="filtro-categoria" ng-model="$ctrl.filtroCategorias.nombre">
                        <option value=" ">Todos</option>
                        <option value="Películas">Películas</option>
                        <option value="Libros">Libros</option>
                        <option value="Videojuegos">Videojuegos</option>
                    </select>
                    <!--
                    <input id="filtro-categoria" type="text" ng-model="$ctrl.filtroCategorias.nombre">
                    -->
                </td>
                <td>
                    <label for="filtro-distancia">
                        Distancia
                    </label>
                    <input id="filtro-distancia"
                           type="number"
                           ng-model-options="{debounce:1000}"
                           ng-model="$ctrl.filtroDistancia.distancia">
                </td>
            </tr>
            </tbody>
        </table>




        <table class="u-full-width">
            <tbody>
            <tr ng-repeat="anuncio in $ctrl.anuncios |
                filter:$ctrl.filtroAnuncios.nombre |
                filter:$ctrl.filtroCategorias.nombre |
                filter:$ctrl.filtrarDistancia

                ">
                <td>
                    <a ng-link="['ElAnuncio',{id: anuncio.id}]">
                    <img ng-src="{{ $ctrl.obtenerRutaImagen(anuncio.photos[0]) }}"
                         width="60"
                         height="60">
                    </a>
                </td>
                <td>
                    <div>
                        {{ anuncio.name }}
                    </div>
                    <div>
                        <small>
                            {{ anuncio.category.name }}
                        </small>
                    </div>
                    <div>
                        <small>
                            Distancia: {{ anuncio.distancia | number:1}} Km
                        </small>
                    </div>
                </td>
                <td>

                    <img
                        ng-show="$ctrl.esFavorito(anuncio)"
                        ng-src="static/images/favorito.jpeg"
                        ng-click="$ctrl.subeFavorito(anuncio,false)"
                        width="60" height="60">


                    <button
                        ng-click= "$ctrl.subeFavorito(anuncio,true)"
                        ng-hide=" $ctrl.esFavorito(anuncio)"
                        >
                        Añadir a favoritos
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>