<div class="row">
    <!-- Imagen de las recetas-->
    <div class="five columns ">
        <!--
        <image-picker
                image-selected="$ctrl.seleccionarImagen(imageFile)"
                image-deselected="$ctrl.deseleccionarImagen()"
        ></image-picker>
        -->
    </div>

    <!-- Formulario de las recetas -->
    <div class="seven columns anuncios">
        <!--
        <formulario-alta al-hacer-click="$ctrl.guardarReceta(receta)"></formulario-alta>
        -->
        <h2>Nuevo usuario</h2>
        <formulario-alta al-hacer-click="$ctrl.guardarUsuario(usuario)"></formulario-alta>
    </div>
</div>