<div class="container">
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>Whatapop</h1>
            </header>
        </div>
    </div>



    <!-- La barra de navegacion -->
    <div class="row">
        <div class="twelve columns">
            <nav class="barra-navegacion">
                <ul>

                    <li ng-class="{ seleccionada: $ctrl.queClase()==='misAnuncios'}">
                        <a ng-class="{ seleccionada: $ctrl.queClase()==='misAnuncios'}"
                                 ng-link="['MisAnuncios']">
                            Anuncios

                        </a>
                    </li>

                    <li ng-class="{ seleccionada: $ctrl.queClase()==='nuevoUsuario'}">
                        <a ng-class="{ seleccionada: $ctrl.queClase()==='nuevoUsuario'}"
                                ng-link="['NuevoUsuario']">
                            Usuarios
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Zona dinamica -->

    <ng-outlet></ng-outlet>

</div>