<div class="container">
    <div class="row">
        <div class="twelve columns">
            <header>
                <h1>Whatapop</h1>
            </header>
        </div>
    </div>

    <!-- La barra de navegacion -->
    <div class="row">
        <div class="twelve columns">
            <nav class="barra-navegacion">
                <ul>

                    <li>
                        <a ng-link="['MisAnuncios']">Anuncios</a>
                    </li>

                    <!--
                    <li>
                        <a ng-link="['ElAnuncio']">Preferencias</a>
                    </li>
                    -->
                </ul>
            </nav>
        </div>
    </div>
    <!-- Zona dinamica -->

    <ng-outlet></ng-outlet>

</div>